.stepper-container {
    margin-block: 0;
    margin-inline: auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: white;
    border: 1.5px solid var(--color-secondary-dark);
}

.stepper-line {
    position: absolute;
    inset-inline-start: 15px;
    margin-block-start: 10px;
    block-size: 100%;
    inline-size: 1px;
    background: var(--color-secondary-dark);
}

.step-container {
    display: flex;
    position: relative;
    margin: 10px;
}

.step-container:last-child {
    margin-block-end: 0;
}

.step-number {
    inline-size: 30px;
    block-size: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-base);
    margin-inline-end: 15px;
    flex-shrink: 0;
    z-index: 1;
    border: 1.5px solid var(--color-secondary-dark);
    background-color: white;
}

.step-content {
    flex: 1;
    padding-block-end: 20px;
}

.step-title {
    margin-block: 0 5px;
    margin-inline: 0;
}

.step-description {
    margin: 0;
}

.stepper-buttons {
    margin-block-start: 20px;
    display: flex;
    justify-content: flex-end;
    padding-block-start: 20px;
}


.error-message {
    margin-block: 5px;
    margin-inline: 0;
    color: var(--color-danger-base);
}

.step-error .step-number {
    border: 1px solid var(--color-danger-base);
    color: var(--color-danger-base);
    font-weight: bold;
    box-shadow: 0 0 5px var(--color-danger-base), 0 0 5px var(--color-danger-base);
}


.step-number.completed {
    border: 1px solid var(--color-success-base);
    color: var(--color-success-base);
    font-weight: bold;
    box-shadow: 0 0 5px var(--color-success-base), 0 0 5px var(--color-success-base);
}

.step-number.active {
    border: 1px solid var(--color-success-base);
    color: var(--color-success-base);
    font-weight: bold;
    box-shadow: 0 0 5px var(--color-success-base), 0 0 5px var(--color-success-base);
}