@import './variables';

.tyk-accordion {
  &__item-header {
    > button {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      font-size: $accordion-item-header-font-size;
      outline: none;
      padding: $accordion-item-header-padding-y $accordion-item-header-padding-x;
      width: 100%;

      .tyk-icon {
        margin-left: auto;
      }
    }
  }

  &__item-header.tyk-accordion__arrow-trigger {
    align-items: center;
    display: flex;

    > div {
      flex: 1;
    }

    > button {
      margin-left: auto;
      width: auto;
    }
  }
}
