.tyk-button-group__wrapper {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  label {
    font-family: $font-family-medium;
  }

  .tyk-button-group {
    display: flex;

    > .tyk-button-group:not(:first-child) {
      > .tyk-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    > .tyk-button-group:not(:last-child) {
      > .tyk-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .tyk-button {
      border-radius: 0;

      + .tyk-button {
        margin-left: 0;
      }

      + .tyk-dropdown {
        margin-left: 0;
      }

      &:first-child {
        border-top-left-radius: map-get($spacing, 'md');
        border-bottom-left-radius: map-get($spacing, 'md');
      }

      &:last-child {
        border-top-right-radius: map-get($spacing, 'md');
        border-bottom-right-radius: map-get($spacing, 'md');

        &.tyk-button--icon-only {
          width: 45px;
        }
      }
    }
  }
}
