@import '../../../common/sass/index';
@import './variables';
@import './mixins';

.tyk-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all .2s linear;
  user-select: none;
  vertical-align: middle;

  &:focus {
    outline: none;
  }

  @include button-size(
    $padding-y-button-md,
    $padding-x-button-md,
    text-scale('md'),
    $line-height-button-md,
    $button-border-radius
  )

  &--primary {
    @include button-variant(
      theme-color('primary', 'base')
    )

    &-outline {
      @include button-variant-outline(
        theme-color('primary', 'base')
      )
    }
  }
  &--success {
    @include button-variant(
      theme-color('success', 'base')
    )

    &-outline {
      @include button-variant-outline(
        theme-color('success', 'base')
      )
    }
  }
  &--danger {
    @include button-variant(
      theme-color('danger', 'base')
    )

    &-outline {
      @include button-variant-outline(
        theme-color('danger', 'base')
      )
    }
  }
  &--warning {
    @include button-variant(
      theme-color('warning', 'base')
    )

    &-outline {
      @include button-variant-outline(
        theme-color('warning', 'base')
      )
    }
  }
  &--info {
    @include button-variant(
      theme-color('info', 'base')
    )

    &-outline {
      @include button-variant-outline(
        theme-color('info', 'base')
      )
    }
  }
  &--default {
    @include button-variant(
      theme-color('foreground', 'light')
    )

    &-outline {
      @include button-variant-outline(
        theme-color('foreground', 'light')
      )
    }
  }

  &--sm {
    @include button-size(
      $padding-y-button-sm,
      $padding-x-button-sm,
      text-scale('xs'),
      $line-height-button-sm,
      $button-border-radius
    )
  }
  &--md {
    @include button-size(
      $padding-y-button-md,
      $padding-x-button-md,
      text-scale('md'),
      $line-height-button-md,
      $button-border-radius
    )
  }
  &--lg {
    @include button-size(
      $padding-y-button-lg,
      $padding-x-button-lg,
      text-scale('lg'),
      $line-height-button-lg,
      $button-border-radius
    )
  }
}
