@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}

@mixin button-variant(
  $background,
  $border: $background,
  $color: white,
  $hover-background: darken($background, 7.5%),
  $hover-border: darken($border, 10%),
  $active-background: darken($background, 10%),
  $active-border: darken($border, 12.5%),
  $hover-color: $color
) {
  background-color: $background;
  color: $color;
  border: $general-border-width solid $border;

  &:hover {
    background-color: $hover-background;
    color: $hover-color;
  }
}

@mixin button-variant-link(
  $color: white
) {
  background-color: transparent;
  border: $general-border-width solid transparent;
  color: $color;

  &:hover {
    background-color: transparent;
    color: $color;
    border-color: $color;
    text-decoration: underline;
  }
}

@mixin button-variant-outline(
  $border,
  $color: $border,
  $hover-color: white,
  $hover-background: $border,
  $hover-border: $border,
  $active-background: darken($border, 10%),
  $active-border: darken($border, 12.5%)
) {
  border: $general-border-width solid $border;
  background-color: transparent;
  color: $color;

  &:hover {
    background-color: $border;
    color: $hover-color;
  }

  &.disabled {
    color: $border;

    &:hover {
      background-color: transparent;
      color: $border;
    }
  }
}

@mixin button-variant-gradient ($left-color, $right-color, $color: white, $hover-enabled: true) {
  border-image: linear-gradient(to right, $left-color, $right-color, $left-color) 0 round;
  background: transparent linear-gradient(to right, $left-color, $right-color, $left-color);
  background-origin: border-box;
  background-clip: border-box;
  background-size: 200% auto;
  background-position: 0 0;
  color: $color;

  @if $hover-enabled {
    &:hover,
    &:active,
    &:active:focus {
      border-image: linear-gradient(to right, $left-color, $right-color, $left-color) 0 round;
      background: transparent linear-gradient(to right, $left-color, $right-color, $left-color);
      background-position: 100% 0;
      background-size: 200% auto;
      background-clip: border-box;

      &.disabled {
        border-image: linear-gradient(to right, $left-color, $right-color, $left-color) 0 round;
        background: transparent linear-gradient(to right, $left-color, $right-color, $left-color);
        background-origin: border-box;
        background-clip: border-box;
        background-size: 200% auto;
        background-position: 0 0;
        color: $color;
      }
    }
  }
}
