$button-font-family: $font-family-bold !default;
$button-border-radius: map-get($spacing, 'md') !default;

$padding-y-button-sm: 3px !default;
$padding-x-button-sm: map-get($spacing, 'base') !default;
$padding-y-button-md: 8px !default;
$padding-x-button-md: 23px !default;
$padding-y-button-lg: 13px !default;
$padding-x-button-lg: 23px !default;

$line-height-button-sm: line-height('xs') !default;
$line-height-button-md: line-height('md') !default;
$line-height-button-lg: line-height('lg') !default;

$button-default-color: theme-color('default', 'base') !default;
$button-default-hover-color: theme-color('default', 'dark') !default;
$button-default-gradient-start-color: theme-color('default', 'base') !default;
$button-default-gradient-end-color: theme-color('default', 'dark') !default;

$button-primary-color: theme-color('primary', 'light') !default;
$button-primary-hover-color: theme-color('default', 'light') !default;
$button-primary-text-color: $text-color !default;
$button-primary-gradient-start-color: theme-color('primary', 'base') !default;
$button-primary-gradient-end-color: theme-color('primary', 'dark') !default;

$button-success-color: theme-color('success', 'base') !default;
$button-success-hover-color: theme-color('success', 'dark') !default;
$button-success-gradient-start-color: theme-color('success', 'base') !default;
$button-success-gradient-end-color: theme-color('success', 'dark') !default;

$button-danger-color: theme-color('danger', 'base') !default;
$button-danger-hover-color: theme-color('danger', 'dark') !default;
$button-danger-gradient-start-color: theme-color('danger', 'base') !default;
$button-danger-gradient-end-color: theme-color('danger', 'dark') !default;

$button-warning-color: theme-color('warning', 'base') !default;
$button-warning-font-color: white !default;
$button-warning-gradient-start-color: theme-color('warning', 'base') !default;
$button-warning-gradient-end-color: theme-color('warning', 'light') !default;

$button-info-color: theme-color('info', 'base') !default;
$button-info-font-color: $text-color;
$button-info-gradient-start-color: theme-color('info', 'base') !default;
$button-info-gradient-end-color: theme-color('info', 'light') !default;

$button-icon-only-background-hover: theme-color('background', 'light') !default;
