@use 'sass:map';

.tyk-toast {
  &__container {
    inset-block-end: 0;
    min-inline-size: 300px;
    position: fixed;
    inset-inline-end: map.get($spacing, 'md');
    z-index: 11;
  }

  &__message {
    position: relative;
  }

  &-message__button {
    color: $text-color;
    block-size: map.get($spacing, 'md');
    line-height: 1;
    padding: map.get($spacing, 'xs');
    position: absolute;
    inset-inline-end: map.get($spacing, 'xs');
    inset-block-start: map.get($spacing, 'xs');
    inline-size: map.get($spacing, 'md');

    &:hover {
      background: rgba(255 255 255 / 30%);
      color: $text-color;
    }
  }
}
