.tyk-toast {
  &__container {
    bottom: 0;
    min-width: 300px;
    position: fixed;
    right: map-get($spacing, 'md');
    z-index: 11;
  }

  &__message {
    position: relative;
  }

  &-message__button {
    color: $text-color;
    height: map-get($spacing, 'md');
    line-height: 1;
    padding: map-get($spacing, 'xs');
    position: absolute;
    right: map-get($spacing, 'xs');
    top: map-get($spacing, 'xs');
    width: map-get($spacing, 'md');

    &:hover {
      background: rgba(255, 255, 255, 0.3);
      color: $text-color;
    }
  }
}
