@import '../../../common/sass/variables';

.string-builder{
  position: relative;
  // overflow: auto;
  display: block;
}

.string-builder__input {
  background: none;
  border: none;
  font: inherit;
  display: block;
  width: 100%;
  padding-bottom: 5px;
  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}
.string-builder__styled {
  font: inherit;
  position: absolute;
  top: 36.5px;
  left: 24px;
  color: transparent;
  // z-index: -1;
  white-space: pre;
}



.url-builder__options_name {
  font-weight: 10px;
  color: blue;
}

.url-builder__options_description{
  color: gray;
}

.string-builder-dropdown {
  display: flex;
  flex-direction: column;
  border: $general-border-width solid $form-default-color;
  background-color: white;

  &.tyk-form-group--rounded-corners {
    border-radius: $general-border-radius;
  }

  .string-builder-search {
    background-color: white;
    position: sticky;
    top: 0;
    padding: map-get($spacing, 'sm') map-get($spacing, 'md');

    + .string-builder-list {
      border-top: 1px solid $form-default-color;
    }
  }

  .string-builder-list {
    max-height: 255px;

    li {
      // display: flex;
      cursor: pointer;
      padding: 9px map-get($spacing, 'md');
      transition: all .2s;
      font-family: $font-family-medium;

      &:hover,
      &.active {
        background-color: $form-default-color;
      }

      &.disabled {
        color: red; 
        background-color: red;
      }

      + li {
        border-top: 1px solid $form-default-color;
      }

      i {
        margin-right: map-get($spacing, 'xs');
      }

      .item-name {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 16px;
      }
    }
  }
}

.string-builder-search {
  padding-right: 10px;
}



// FOR EXAMPLE Component 

.data_source_argument {
  color: blue;
}

.data_source_object {
  color: pink;
}
