
.string-builder{
  position: relative;
  overflow: auto;
  font: 14px sans-serif;
  border: 1px solid lightgrey;
  display: block;
}

.string-builder__input {
  background: none;
  border: none;
  font: inherit;
  display: block;
  padding: 4px;
  width: 100%;
  height: 25px;
}
.string-builder__styled {
  font: inherit;
  position: absolute;
  top: 4.5px;
  left: 4px;
  color: transparent;
  // z-index: -1;
  white-space: pre;
}


.string-builder__highlight {
  background: yellow;
  border-radius: 2px;
  color: black;
  box-shadow: 0 0 0 1px #ff2ecc;
}

body {
  max-width: 200px;
  margin: 1em auto;
}

.special_token {
  color: rgb(92, 120, 211);
}

.url-builder__options {
  background: white;

  li {
    padding: 8px 5px;
    border-bottom: 1px solid black;
  } 
}

.url-builder__options_name {
  font-weight: 10px;
  color: blue;
}

.url-builder__options_description{
  color: gray;
}


// FOR EXAMPLE DEMO 

.data_source_argument {
  color: red;
}

.data_source_object {
  color: aqua;
}