@import '../../../common/sass/variables';

.string-builder{
  position: relative;
  // overflow: auto;
  display: block;
}

.string-builder__input {
  word-break: break-all;
  resize: none;
  overflow: hidden;
  background:transparent;
  position: absolute;
  border: none;
  font: inherit;
  display: block;
  z-index: 1;
  width: 100%;
  padding: 0px;
  width: calc(100% - 35px);
  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}
.string-builder__styled {
  font: inherit;
  position: absolute;
  pointer-events: none;
  width: calc(100% - 35px);
  // width: 100%;
  // top: calc(100% - 26px); // INPUT
  // top: calc(100% - -2px); // TA
  // left: 2px; // TA
  // left: 24px; // INPUT
  color: transparent;
  z-index: 2;
  // white-space: pre;
  border: none;
  word-wrap: break-word;
  word-break: break-all;

}



.url-builder__options_name {
  font-weight: 10px;
}

.url-builder__options_description{
  color: gray;
}

.string-builder-dropdown {
  display: flex;
  flex-direction: column;
  border: $general-border-width solid $form-default-color;
  background-color: white;

  &.tyk-form-group--rounded-corners {
    border-radius: $general-border-radius;
  }

  .string-builder-search {
    background-color: white;
    position: sticky;
    top: 0;
    padding: map-get($spacing, 'sm') map-get($spacing, 'md');

    + .string-builder-list {
      border-top: 1px solid $form-default-color;
    }
  }

  .string-builder-list {
    max-height: 255px;

    li {
      // display: flex;
      cursor: pointer;
      padding: 9px map-get($spacing, 'md');
      transition: all .2s;
      font-family: $font-family-medium;

      &:hover,
      &.active {
        background-color: $form-default-color;
      }

      &.disabled {
        color: red; 
        background-color: red;
      }

      + li {
        border-top: 1px solid $form-default-color;
      }

      i {
        margin-right: map-get($spacing, 'xs');
      }

      .item-name {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 16px;
      }
    }
  }
}

.string-builder-footer {
  margin-top: 30px;
}

.string-builder-search {
  padding-right: 10px;
}

.default-option-name {
  color: green;
}

// TODO :: Remove This 
.data_source_argument {
  color: pink;
}
.data_source_object {
  color: blueviolet;
}

.invalid_token {
  border: 0.1px solid red;
  border-radius: 5px;
  pointer-events: all;
}