{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": false,
    "indent": ["error", 2, {
      "ignoredNodes": ["TemplateLiteral"]
    }]
  }
}
