{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 2021,
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "extends": ["airbnb", "plugin:cypress/recommended"],
  "plugins": ["react-hooks"],
  "rules": {
    "no-use-before-define": ["error", { "functions": false }],
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-console": "off",
    "no-unused-expressions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "indent": ["error", 2, {
      "ignoredNodes": ["TemplateLiteral"]
    }]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
