:root {
  --button-font-family: var(--font-family-medium);
  --button-border-radius: var(--spacing-md);

  --padding-y-button-sm: 3px;
  --padding-x-button-sm: var(--spacing-base);
  --padding-y-button-md: 8px;
  --padding-x-button-md: 23px;
  --padding-y-button-lg: 13px;
  --padding-x-button-lg: 23px;

  --line-height-button-sm: var(--xs-line-height);
  --line-height-button-md: var(--md-line-height);
  --line-height-button-lg: var(--lg-line-height);

  --button-disabled-background: var(--color-background);
  --button-disabled-border: var(--color-secondary-base-dark);
  --button-disabled-text-color: var(--color-text-light);

  --button-primary-color: var(--color-primary-base);
  --button-primary-border-color: var(--color-primary-dark);
  --button-primary-text-color: white;
  --button-primary-hover-color: var(--color-primary-dark);
  --button-primary-hover-color-light: var(--color-primary-light);
  --button-primary-hover-border-color: var(--color-primary-extra-dark);

  --button-secondary-color: var(--color-secondary-base);
  --button-secondary-border-color: var(--color-secondary-dark);
  --button-secondary-text-color: var(--color-text-base);
  --button-secondary-hover-color: var(--color-secondary-base-dark);
  --button-secondary-hover-color-light: var(--color-secondary-extra-light);
  --button-secondary-hover-border-color: var(--color-secondary-extra-dark);
  --button-secondary-text-hover-color: var(--color-secondary-extra-dark1);

  --button-danger-color: var(--color-danger-base);
  --button-danger-border-color: var(--color-danger-dark);
  --button-danger-text-color: white;
  --button-danger-hover-color: var(--color-danger-dark);
  --button-danger-hover-color-light: var(--color-danger-light);
  --button-danger-hover-border-color: var(--color-danger-extra-dark);
  --button-danger-text-hover-color: white;
  
  --button-success-color: var(--color-success-base);
  --button-success-border-color: var(--color-success-dark);
  --button-success-text-color: white;
  --button-success-hover-color: var(--color-success-dark);
  --button-success-hover-color-light: var(--color-success-light);
  --button-success-hover-border-color: var(--color-success-base);
  --button-success-text-hover-color: white;

  --button-warning-color: var(--color-warning-base);
  --button-warning-border-color: var(--color-warning-dark);
  --button-warning-text-color: var(--color-text-base);
  --button-warning-hover-color: var(--color-warning-dark);
  --button-warning-hover-color-light: var(--color-warning-light);
  --button-warning-hover-border-color: var(--color-warning-base);
  --button-warning-text-hover-color: var(--color-text-dark);

  --button-info-color: var(--color-info-base);
  --button-info-border-color: var(--color-info-dark);
  --button-info-text-color: white;
  --button-info-hover-color: var(--color-info-dark);
  --button-info-hover-color-light: var(--color-info-light);
  --button-info-hover-border-color: var(--color-info-base);
  --button-info-text-hover-color: white;

  --button-icon-only-background-hover: var(--color-secondary-base-dark);
}

.tyk-button {
  --button-padding-y: var(--padding-y-button-md);
  --button-padding-x: var(--padding-x-button-md);
  --button-font-size: var(--sm-font-size);
  --button-line-height: var(--line-height-button-md);

  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: var(--button-font-family);
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  transition: all .2s linear;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  + .tyk-button,
  + .tyk-dropdown,
  + .tyk-toggle {
    margin-inline-start: var(--spacing-sm);
  }

  span + i {
    margin-inline-start: var(--spacing-sm);
  }

  i + span {
    margin-inline-start: var(--spacing-sm);
  }

  &.disabled,
  &.disabled:hover {
    background: var(--button-disabled-background);
    border: var(--general-border-width) solid var(--button-disabled-border);
    color: var(--button-disabled-text-color);
    cursor: not-allowed;
  }

  &:hover {
    color: white;
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

.tyk-button--primary {
  --button-variant-background: var(--button-primary-color);
  --button-variant-border: var(--button-primary-border-color);
  --button-variant-color: var(--button-primary-text-color);
  --button-variant-hover-background: var(--button-primary-hover-color);
  --button-variant-hover-border: var(--button-primary-hover-border-color);
  --button-variant-hover-color: var(--button-primary-text-color);
}

.tyk-button--success {
  --button-variant-background: var(--button-success-color);
  --button-variant-border: var(--button-success-border-color);
  --button-variant-color: var(--button-success-text-color);
  --button-variant-hover-background: var(--button-success-hover-color);
  --button-variant-hover-border: var(--button-success-hover-border-color);
  --button-variant-hover-color: var(--button-success-text-hover-color);
}

.tyk-button--danger {
  --button-variant-background: var(--button-danger-color);
  --button-variant-border: var(--button-danger-border-color);
  --button-variant-color: var(--button-danger-text-color);
  --button-variant-hover-background: var(--button-danger-hover-color);
  --button-variant-hover-border: var(--button-danger-hover-border-color);
  --button-variant-hover-color: var(--button-danger-text-hover-color);
}

.tyk-button--warning {
  --button-variant-background: var(--button-warning-color);
  --button-variant-border: var(--button-warning-border-color);
  --button-variant-color: var(--button-warning-text-color);
  --button-variant-hover-background: var(--button-warning-hover-color);
  --button-variant-hover-border: var(--button-warning-hover-border-color);
  --button-variant-hover-color: var(--button-warning-text-hover-color);
}

.tyk-button--info {
  --button-variant-background: var(--button-info-color);
  --button-variant-border: var(--button-info-border-color);
  --button-variant-color: var(--button-info-text-color);
  --button-variant-hover-background: var(--button-info-hover-color);
  --button-variant-hover-border: var(--button-info-hover-border-color);
  --button-variant-hover-color: var(--button-info-text-hover-color);
}

.tyk-button--secondary {
  --button-variant-background: var(--button-secondary-color);
  --button-variant-border: var(--button-secondary-border-color);
  --button-variant-color: var(--button-secondary-text-color);
  --button-variant-hover-background: var(--button-secondary-hover-color);
  --button-variant-hover-color: var(--button-secondary-text-hover-color);
  --button-variant-hover-border: var(--button-secondary-hover-border-color);
}

.tyk-button--primary,
.tyk-button--success,
.tyk-button--danger,
.tyk-button--warning,
.tyk-button--info,
.tyk-button--secondary {
  background-color: var(--button-variant-background);
  color: var(--button-variant-color);
  border: var(--general-border-width) solid var(--button-variant-border);

  &:hover {
    background-color: var(--button-variant-hover-background);
    border: var(--general-border-width) solid var(--button-variant-hover-border);
    color: var(--button-variant-hover-color);
  }
}

.tyk-button--primary-link {
  --button-variant-link-color: var(--button-primary-color);
  --button-variant-link-color-hover: var(--button-primary-hover-color);
  --button-variant-link-hover-background: var(--button-primary-hover-color-light);
}

.tyk-button--secondary-link {
  --button-variant-link-color: var(--button-secondary-text-color);
  --button-variant-link-hover-color: var(--button-secondary-hover-color);
  --button-variant-link-hover-background: var(--button-secondary-hover-color-light);
}

.tyk-button--success-link {
  --button-variant-link-color: var(--button-success-color);
  --button-variant-link-color-hover: var(--button-success-hover-color);
  --button-variant-link-hover-background: var(--button-success-hover-color-light);
}

.tyk-button--danger-link {
  --button-variant-link-color: var(--button-danger-color);
  --button-variant-link-color-hover: var(--button-danger-hover-color);
  --button-variant-link-hover-background: var(--button-danger-hover-color-light);
}

.tyk-button--warning-link {
  --button-variant-link-color: var(--button-warning-color);
  --button-variant-link-color-hover: var(--button-warning-hover-color);
  --button-variant-link-hover-background: var(--button-warning-hover-color-light);
}

.tyk-button--info-link {
  --button-variant-link-color: var(--button-info-color);
  --button-variant-link-color-hover: var(--button-info-hover-color);
  --button-variant-link-hover-background: var(--button-info-hover-color-light);
}

.tyk-button--primary-link,
.tyk-button--success-link,
.tyk-button--danger-link,
.tyk-button--warning-link,
.tyk-button--info-link,
.tyk-button--secondary-link {
  background-color: transparent;
  color: var(--button-variant-link-color);

  &:hover {
    background-color: var(--button-variant-link-hover-background);
    color: var(--button-variant-link-color-hover);

    &.disabled {
      border: none;
    }
  }

  &.disabled{ 
    border: none;
  }
}

.tyk-button--primary-outline {
  --button-variant-outline-border: var(--button-primary-border-color);
  --button-variant-outline-color: var(--button-primary-color);
  --button-variant-outline-background: white;
  --button-variant-outline-hover-color: var(--button-primary-border-color);
  --button-variant-outline-hover-border: var(--button-primary-border-color);
  --button-variant-outline-hover-background: var(--button-primary-hover-color-light);
}

.tyk-button--secondary-outline {
  --button-variant-outline-border: var(--button-secondary-border-color);
  --button-variant-outline-color: var(--button-secondary-text-color);
  --button-variant-outline-background: white;
  --button-variant-outline-hover-color:  var(--button-secondary-text-color);
  --button-variant-outline-hover-border: var(--button-secondary-hover-border-color);
  --button-variant-outline-hover-background: var(--button-secondary-hover-color-light);
}

.tyk-button--success-outline {
  --button-variant-outline-border: var(--button-success-border-color);
  --button-variant-outline-color: var(--button-success-color);
  --button-variant-outline-background: white;
  --button-variant-outline-hover-color: var(--button-success-border-color);
  --button-variant-outline-hover-border: var(--button-success-border-color);
  --button-variant-outline-hover-background: var(--button-success-hover-color-light);
}

.tyk-button--danger-outline {
  --button-variant-outline-border: var(--button-danger-border-color);
  --button-variant-outline-color: var(--button-danger-color);
  --button-variant-outline-background: white;
  --button-variant-outline-hover-color: var(--button-danger-hover-color);
  --button-variant-outline-hover-border: var(--button-danger-border-color);
  --button-variant-outline-hover-background: var(--button-danger-hover-color-light);
}

.tyk-button--warning-outline {
  --button-variant-outline-border: var(--button-warning-border-color);
  --button-variant-outline-color: var(--button-warning-color);
  --button-variant-outline-background: white;
  --button-variant-outline-hover-color: var(--button-warning-border-color);
  --button-variant-outline-hover-border: var(--button-warning-border-color);
  --button-variant-outline-hover-background: var(--button-warning-hover-color-light);
}

.tyk-button--info-outline {
  --button-variant-outline-border: var(--button-info-border-color);
  --button-variant-outline-color: var(--button-info-color);
  --button-variant-outline-background: white;
  --button-variant-outline-hover-color: var(--button-info-border-color);
  --button-variant-outline-hover-border: var(--button-info-border-color);
  --button-variant-outline-hover-background: var(--button-info-hover-color-light);
}

.tyk-button--primary-outline,
.tyk-button--success-outline,
.tyk-button--danger-outline,
.tyk-button--warning-outline,
.tyk-button--info-outline,
.tyk-button--secondary-outline {
  border: var(--general-border-width) solid var(--button-variant-outline-border);
  background-color: var(--button-variant-outline-background);
  color: var(--button-variant-outline-color);

  &:hover {
    background-color: var(--button-variant-outline-hover-background);
    border-color: var(--button-variant-outline-hover-border);
    color: var(--button-variant-outline-hover-color);
  }
}

.tyk-button--sm {
  --button-padding-y: var(--padding-y-button-sm);
  --button-padding-x: var(--padding-x-button-sm);
  --button-font-size: var(--xs-font-size);
  --button-line-height: var(--xs-line-height);
}

.tyk-button--md {
  --button-padding-y: var(--padding-y-button-md);
  --button-padding-x: var(--padding-x-button-md);
  --button-font-size: var(--sm-font-size);
  --button-line-height: var(--sm-line-height);
}

.tyk-button--lg {
  --button-padding-y: var(--padding-y-button-lg);
  --button-padding-x: var(--padding-x-button-lg);
  --button-font-size: var(--md-font-size);
  --button-line-height: var(--line-height-button-md);
}

.tyk-button,
.tyk-button--sm,
.tyk-button--md,
.tyk-button--lg {
  padding-block: var(--button-padding-y);
  padding-inline: var(--button-padding-x);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  border-radius: var(--button-border-radius);
}

.tyk-button--icon-only {
  border-radius: var(--general-border-radius);
  padding: 0;
  line-height: var(--spacing-md);
  inline-size: 24px;

  &:hover {
    border-radius: var(--general-border-radius);
  }
}

.tyk-button--fit {
  block-size: auto;
  inline-size: auto;
  line-height: normal;
}

.tyk-button--no-style {
  background: transparent;
  border: none;
  color: var(--text-color);

  &:hover {
    background: transparent;
    border: none;
    color: var(--text-color);
  }
}
