.tyk-pill {
  align-items: center;
  border-radius: var(--general-border-radius);
  display: inline-flex;
  font-size: var(--xs-font-size);
  font-family: var(--font-family-regular);
  line-height: var( --xs-line-height);
  margin: var(--pill-margin);
  padding-block: 6px;
  padding-inline: var(--spacing-base);

  i {
    font-size: var(--xs-font-size);
  }

  + .tyk-pill {
    margin-inline-end: var(--spacing-sm);
  }

  button + span {
    margin-inline-start: var(--spacing-sm);
  }

  span + button {
    margin-inline-start: var(--spacing-sm);
  }

  &:first-child {
    margin-inline-end: var(--spacing-sm);
  }

  &:last-child {
    margin-inline-end: 0;
  }
}

.tyk-pill--square {
  border-radius: 8px;
}

.tyk-pill--secondary {
  background-color: var(--color-secondary-light);
  color: var(--color-text-base);

  i {
    color: var(--color-text-base);
  }
}

.tyk-pill--secondary-outline {
  box-shadow: inset 0 0 0 var(--general-border-width) var(--color-secondary-dark);
  color: var(--color-text-base);

  i {
    color: var(--color-text-base);
  }
}

.tyk-pill--primary {
  background-color: var(--color-primary-light);
  color: var(--color-text-dark);

  i {
    color: var(--color-text-base);
  }
}

.tyk-pill--primary-outline {
  box-shadow: inset 0 0 0 var(--general-border-width) var(--color-primary-base);
  color: var(--color-text-base);

  i {
    color: var(--color-text-base);
  }
}

.tyk-pill--success {
  background-color: var(--color-success-light);
  color: var(--color-text-base);

  i {
    color: var(--color-text-base);
  }
}

.tyk-pill--success-outline {
  box-shadow: inset 0 0 0 var(--general-border-width) var(--color-success-base);
  color: var(--color-text-base);

  i {
    color: var(--color-text-base);
  }
}

.tyk-pill--danger {
  background-color: var(--color-danger-light);
  color: var(--color-text-base);

  i {
    color: var(--color-text-base);
  }
}

.tyk-pill--danger-outline {
  box-shadow: inset 0 0 0 var(--general-border-width) var(--color-danger-base);
  color: var(--color-text-base);

  i {
    color: var(--color-text-base);
  }
}

.tyk-pill--warning {
  background-color: var(--color-warning-light);
  color: var(--color-text-base);

  i {
    color: var(--color-text-base);
  }
}

.tyk-pill--warning-outline {
  box-shadow: inset 0 0 0 var(--general-border-width) var(--color-warning-base);
  color: var(--color-text-base);

  i {
    color: var(--color-text-base);
  }
}

.tyk-pill--info {
  background-color: var(--color-info-light);
  color: var(--color-text-base);

  i {
    color: var(--color-text-base);
  }
}

.tyk-pill--info-outline {
  box-shadow: inset 0 0 0 var(--general-border-width) var(--color-info-base);
  color: var(--color-text-base);

  i {
    color: var(--color-text-base);
  }
}
