.tyk-masked-input__toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  padding: 0 var(--form-control-addon-padding-right, 10px) 0 var(--form-control-addon-padding-left, 10px);
  display: flex;
  align-items: center;
  line-height: 1;
}

.tyk-masked-input__toggle:focus {
  outline: none;
}

.tyk-masked-input__toggle:hover {
  color: var(--color-primary-base);
}

.tyk-masked-input__toggle:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
