@import '../../../../common/sass/variables';
@import '../../../../common/sass/mixins';
@import './variables';

.tyk-radio{
  label {
    align-items: center;
    display: flex;
  }

  &--is-disabled {
    label, p {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__description-text {
    padding: $radio-description-text-padding;
  }
}