@use 'sass:map';
@import './variables';

.tyk-tooltip {
  display: flex;
  align-items: center;
  background-color: theme-color('primary', 'light');
  border: 2px solid theme-color('primary', 'base');
  border-radius: $general-border-radius;
  max-inline-size: var(--tooltip-max-width);
  padding: map.get($spacing, 'md');

  > .tyk-icon:first-child {
    inline-size: 32px;
    block-size: 32px;
    border-radius: 50%;
    color: white;
    background-color: theme-color('default', 'base-light');

    &::before {
      display: flex;
      inline-size: 100%;
      block-size: 100%;
      align-items: center;
      justify-content: center;
    }
  }

  > .tyk-icon + .tyk-tooltip__content {
    margin-inline-start: map.get($spacing, 'md');
  }

  &__content {
    color: theme-color('default', 'dark');
    word-break: break-word;
    word-wrap: break-word;

    + .tyk-icon {
      margin-inline-start: map.get($spacing, 'md');
    }
  }

  > .tyk-icon:last-child {
    cursor: pointer;
  }
}
