.tyk-tooltip-content {
  position: relative;
  background-color: theme-color('primary', 'dark');
  color: white;
  padding: 8px 16px;
  border-radius: map-get($spacing, 'xs');
  left: -50%;

  &:after {
    content: '';
    position: absolute;
    bottom: -map-get($spacing, 'sm');
    left: calc(50% - 5px);
    border-width: map-get($spacing, 'xs');
    border-style: solid;
    border-color: theme-color('primary', 'dark') transparent transparent transparent;
  }
}

.tyk-tooltip__bottom {
  .tyk-tooltip-content:after {
    border-color: transparent transparent theme-color('primary', 'dark') transparent;
    bottom: auto;
    top: -map-get($spacing, 'sm');
  }
}
