.tyk-tooltip-content {
  position: relative;
  background-color: theme-color('foreground', 'light');
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  left: -50%;

  &:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: calc(50% - 5px);
    border-width: 5px;
    border-style: solid;
    border-color: theme-color('foreground', 'light') transparent transparent transparent;
  }

}
