@use 'sass:map';

$tyk-message-padding-top: map.get($spacing, 'md') !default;
$tyk-message-padding-right: map.get($spacing, 'md') !default;
$tyk-message-padding-bottom: map.get($spacing, 'md') !default;
$tyk-message-padding-left: map.get($spacing, 'md') !default;
$tyk-message-border-radius: $general-border-radius !default;
$tyk-message-default-background: theme-color('primary', 'light') !default;
$tyk-message-default-border: theme-color('default', 'dark') !default;
$tyk-message-default-text-color: theme-color('default', 'dark') !default;
$tyk-message-info-background: theme-color('info', 'light') !default;
$tyk-message-info-border: theme-color('info', 'base') !default;
$tyk-message-info-text-color: theme-color('info', 'base') !default;
$tyk-message-success-background: theme-color('success', 'light') !default;
$tyk-message-success-border: theme-color('success', 'dark') !default;
$tyk-message-success-text-color: theme-color('success', 'dark') !default;
$tyk-message-warning-background: theme-color('warning', 'light') !default;
$tyk-message-warning-border: theme-color('warning', 'base') !default;
$tyk-message-warning-text-color: theme-color('warning', 'dark') !default;
$tyk-message-danger-background: theme-color('danger', 'extra-light') !default;
$tyk-message-danger-border: theme-color('danger', 'base') !default;
$tyk-message-danger-text-color: theme-color('danger', 'dark') !default;
