.tyk-toast__container {
  min-inline-size: 300px;
  position: fixed;
  z-index: 11;
}

.tyk-toast__container--top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tyk-toast__container--top-right {
  top: 0;
  right: var(--spacing-md);
}

.tyk-toast__container--bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tyk-toast__container--bottom-right {
  bottom: 0;
  right: var(--spacing-md);
}

.tyk-toast__message {
  position: relative;
}

.tyk-toast-message__button {
  color: var(--text-color);
  block-size: var(--spacing-md);
  line-height: 1;
  padding: var(--spacing-xs);
  position: absolute;
  inset-inline-end: var(--spacing-xs);
  inset-block-start: var(--spacing-xs);
  inline-size: var(--spacing-md);

  &:hover {
    background: rgba(255 255 255 / 30%);
    color: var(--text-color);
  }
}
