@font-face {
  font-family: OpenSans-Bold;
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
       url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'smoolthan_bold';
  src: url('../fonts/smoolthan_bold-webfont.woff2') format('woff2'),
       url('../fonts/smoolthan_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'smoolthan_medium';
  src: url('../fonts/smoolthan_medium-webfont.woff2') format('woff2'),
       url('../fonts/smoolthan_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'smoolthan_regular';
  src: url('../fonts/smoolthan_regular-webfont.woff2') format('woff2'),
       url('../fonts/smoolthan_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: tykon;
  src: url('../fonts/tykon.woff2') format('woff2'),
       url('../fonts/tykon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
