@font-face {
  font-family: Inter-Bold;
  src: url('../fonts/inter/Inter-Bold.woff2') format('woff2'),
       url('../fonts/inter/Inter-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter-Light;
  src: url('../fonts/inter/Inter-Light.woff2') format('woff2'),
       url('../fonts/inter/Inter-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter-Medium;
  src: url('../fonts/inter/Inter-Medium.woff2') format('woff2'),
       url('../fonts/inter/Inter-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter-Regular;
  src: url('../fonts/inter/Inter-Regular.woff2') format('woff2'),
       url('../fonts/inter/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inter-SemiBold;
  src: url('../fonts/inter/Inter-SemiBold.woff2') format('woff2'),
       url('../fonts/inter/Inter-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: tykon;
  src: url('../fonts/tykon.woff2') format('woff2'),
       url('../fonts/tykon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
