.tyk-form-group {
  margin-block-end: var(--form-group-margin-bottom);

  &.has-error .tyk-input-group__addon {
    background-color: var(--form-control-error-background);
    border: var(--error-border) !important;
    border-color: var(--color-danger-dark);
    color: var(--form-control-text-focus);

    &:has(+ .tyk-form-control) {
      border-inline-end: none !important;
    }
  }

  &.has-error > .tyk-form-control__wrapper > .tyk-form-control,
  &.has-error > .tyk-form-control__wrapper > .tyk-input-group > .tyk-form-control,
  &.has-error .tyk-file-input__wrapper  > .tyk-form-control {
    background-color: var(--form-control-error-background);
    border: var(--error-border);
    border-inline-start: var(--error-border-left);
    outline: none;

    &:focus {
      border: var(--error-border);
      border-color: var(--color-danger-dark);
      outline: none;
    }

    + .tyk-input-group__addon {
      border-inline-start: none !important;
    }
  }

  label {
    font-family: var(--font-family-bold);
  }
}

.tyk-form-group--inline {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;

  .tyk-form-control__wrapper {
    flex: 1;
  }

  label {
    display: flex;
    white-space: nowrap;
    margin-inline-end: var(--spacing-md);
    margin-block-start: 14px;
  }

  input,
  select {
    display: flex;
  }

  .tyk-form-control__help-block {
    display: flex;
    margin-inline-start: auto;
  }
}

.tyk-form-group--default {
  color: var(--text-color);

  > .tyk-form-control__wrapper > .tyk-form-control,
  > .tyk-form-control__wrapper  > .tyk-file-input__wrapper > .tyk-form-control,
  > .tyk-form-control__wrapper > .tyk-input-group > .tyk-form-control {
    border: var(--general-border-width) solid var(--form-default-color);

    &:focus,
    &:active {
      color: var(--form-control-text-focus);
      outline: none;
      border: var(--form-control-border-focus);

      + .tyk-input-group__addon {
        border: var(--form-control-border-focus);
        border-inline-start: none;
        color: var(--form-control-text-focus);
      }
    }

    &[disabled] {
      border: var(--form-control-disabled-border);
      background-color: var(--form-control-disabled-background-color);
      color: var(--form-control-disabled-color);
      cursor: not-allowed;

      + .tyk-input-group__addon {
        border: var(--form-control-disabled-border);
        background-color: var(--form-control-disabled-background-color);
        color: var(--form-control-disabled-color);
        border-inline-start: none;
      }

      &:focus,
      &:active {
        color: var(--form-control-disabled-color);
        outline: none;
        border: var(--form-control-disabled-border);

        + .tyk-input-group__addon {
          border: var(--form-control-disabled-border);
          border-inline-start: none;
          color: var(--form-control-disabled-color);
        }
      }
    }

    &::placeholder {
      opacity: 0.8;
    }

    &:-ms-input-placeholder {
      opacity: 0.8;
    }
  }

  &.tyk-form-group--addon-left {
    .tyk-input-group__addon {
      border-start-end-radius: 0 !important;
      border-end-end-radius: 0 !important;
      border-radius: var(--form-control-border-radius);
      border-block: var(--general-border-width) solid var(--form-default-color);
      border-inline-start: var(--general-border-width) solid var(--form-default-color);
    }
  }

  &.tyk-form-group--addon-right {
    .tyk-input-group__addon {
      border-start-start-radius: 0 !important;
      border-end-start-radius: 0 !important;
      border-radius: var(--form-control-border-radius);
      border-block: var(--general-border-width) solid var(--form-default-color);
      border-inline-end: var(--general-border-width) solid var(--form-default-color);
    }
  }
}

.tyk-form-group--addon-right input {
  border-start-end-radius: 0 !important;
  border-end-end-radius: 0 !important;
  border-inline-end: 0 !important;
  padding-inline-end: 0;
}

.tyk-form-group--addon-left input {
  border-start-start-radius: 0 !important;
  border-end-start-radius: 0 !important;
  border-inline-start: 0 !important;
  padding-inline-start: 0;
}

.tyk-form-control__error-message {
  color: var(--color-text-dark);
  font-family: var(--font-family-regular);
  font-size: var(--xs-font-size);
  line-height: var(--xs-line-height);
  margin-block-start: 5px;
  padding: var(--error-message-padding);
  position: relative;

  &:before { 
    content: "\f06a";
    color: var(--color-danger-base);
    font-family: var(--font-awesome);
    font-weight: 300; 
    margin-inline-end: 5px;
    display: inline-block;
  }
}

.tyk-input-group {
  align-items: center;
  display: flex;
  outline: none;
}

.tyk-input-group__addon {
  align-items: center;
  background-color: var(--form-control-addon-background-color);
  border: var(--form-control-border);
  display: flex;
  block-size: var(--form-control-height);
  padding-block: var(--form-control-addon-padding-top) var(--form-control-addon-padding-bottom);
  padding-inline: var(--form-control-addon-padding-left) var(--form-control-addon-padding-right);
  transition: all .2s linear;

  &:first-child {
    border-inline-end: 0;
  }

  &:last-child {
    border-inline-start: 0;
  }
}

.tyk-form-control {
  border: var(--form-control-border);
  border-radius: var(--form-control-border-radius);
  font-family: var(--font-family-regular);
  font-size: var(--sm-font-size);
  line-height: var(--sm-line-height);
  background-color: white;
  color: var(--text-color);
  display: block;
  block-size: var(--form-control-height);
  padding-block: var(--form-control-padding-top) var(--form-control-padding-bottom);
  padding-inline: var(--form-control-padding-left) var(--form-control-padding-right);
  transition: all .2s linear;
  inline-size: 100%;

  &[disabled] {
    background-color: var(--form-control-disabled-background-color);

    .tyk-input-group__addon {
      border: var(--form-control-disabled-border);
      background-color: var(--form-control-disabled-background-color);
    }

    cursor: not-allowed;
  }

  &::placeholder {
    font-family: var(--form-control-placeholder-font-family);
    color: var(--form-control-placeholder-color);
  }

  &:focus,
  &:active {
    color: var(--form-control-text-focus);
    outline: none;
    border: var(--form-control-border-focus);

    + .tyk-input-group__addon {
      border: var(--form-control-border-focus);
      border-inline-start: none;
      color: var(--form-control-text-focus);
    }
  }
}

.tyk-input-group__addon:has(+ .tyk-form-control:focus),
.tyk-input-group__addon:has(+ .tyk-form-control:active) {
  border: var(--form-control-border-focus);
  border-inline-end: none;
  color: var(--form-control-text-focus);
}

.tyk-form-control__help-block {
  color: var(--help-block-color);
  font-style: var(--help-block-font-style);
  font-family: var(--font-family-regular);
  font-size: var(--xs-font-size);
  line-height: var(--xs-line-height);
  padding: var(--help-block-padding);
  margin-block: 5px 0;
  margin-inline: 0;
}

select {
  border-radius: 0;
  appearance: none;
}

.inline-form-wrapper {
  align-items: center;
  display: flex;
  inline-size: 100%;

  .inline-form {
    inline-size: 100%;
  }

  > button {
    margin-inline-start: 10px;
    margin-block-end: var(--spacing-base);
  }
}

.tyk-checkbox,
.tyk-radio {
  margin-block: 10px;
  margin-inline: 0;

  label {
    color: var(--color-text-dark);
    font-family: var(--font-family-regular);
  }

  input {
    margin-block: 0;
    margin-inline: 0 5px;
  }

  .tyk-form-control__error-message,
  .tyk-form-control__help-block {
    margin-inline-start: 14px;
  }
}

.tyk-checkbox--inline,
.tyk-radio--inline {
  display: inline-flex;
  margin-inline-start: var(--spacing-base);

  &:first-child {
    margin-inline-start: 0;
  }
}

.tyk-inline-form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  .tyk-form-group {
    flex: 1;
    margin-inline-start: var(--spacing-md);
    min-inline-size: 200px;

    &:first-child {
      margin-inline-start:0
    }
  }

  > .tyk-button {
    margin-inline-start: var(--spacing-md);
    margin-block-end: var(--spacing-base);
  }
}
