:root {
  --general-border-radius: 18px;
  --general-border-width: 1px;

  --color-background: #FCFCFC;

  --color-primary-extra-light:#F6EFFF;
  --color-primary-light:#EBDFFE;
  --color-primary-base:#8438FA;
  --color-primary-dark:#6B2ECE;
  --color-primary-extra-dark:#5525AA;

  --color-secondary-extra-light: #F8F8F9;
  --color-secondary-light: #F0F0F3;
  --color-secondary-base: #EDEDF0;
  --color-secondary-base-dark: #E6E6EA;
  --color-secondary-dark: #D8D8DF;
  --color-secondary-extra-dark: #9D9DAF;
  --color-secondary-extra-dark1: #181834;

  --color-success-extra-light:#EEF8F1;
  --color-success-light:#DDF1E2;
  --color-success-base:#2BA84A;
  --color-success-dark:#238741;

  --color-danger-extra-light:#FCEFEC;
  --color-danger-light:#F9DDD8;
  --color-danger-base:#D82C0D;
  --color-danger-dark:#AE2410;
  --color-danger-extra-dark:#8B1D12;

  --color-info-extra-light:#EBF8FE;
  --color-info-light:#D6F1FC;
  --color-info-base:#00A6ED;
  --color-info-dark:#0186C4;

  --color-warning-extra-light:#FFFBF2;
  --color-warning-light:#FFF5E3;
  --color-warning-base:#FFC453;
  --color-warning-dark:#CC9D43;

  --color-text-light:#818198;
  --color-text-base:#414160;
  --color-text-dark:#03031C;

  --text-color: var(--color-text-base);
  --label-color: var(--color-text-dark);

  --xs-line-height: 16px;
  --sm-line-height: 20px;
  --md-line-height: 22px;
  --lg-line-height: 23px;
  --xl-line-height: 24px;
  --xxl-line-height: 36px;

  --xs-font-size: 13px;
  --sm-font-size: 14px;
  --md-font-size: 16px;
  --lg-font-size: 18px;
  --xl-font-size: 20px;
  --xxl-font-size: 32px;

  --base-font-size: var(--sm-font-size);
  --base-line-height: var(--sm-line-height);

  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-base: 15px;
  --spacing-md: 20px;
  --spacing-lg: 24px;
  --spacing-xl: 30px;
  --spacing-xxl: 36px;

  --grid-gutter: var(--spacing-md);
  --grid-max-width: calc(1200px + var(--grid-gutter) * 2);

  --breakpoint-xs: 420px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1248px;

  --font-awesome: 'Font Awesome 6 Pro';
  --font-inter-light: 'Inter-Light';
  --font-inter-medium: 'Inter-Medium';
  --font-inter-regular: 'Inter-Regular';
  --font-inter-bold: 'Inter-Bold';
  --font-inter-semi-bold: 'Inter-SemiBold';

  --font-family-regular: var(--font-inter-regular);
  --font-family-medium: var(--font-inter-medium);
  --font-family-semi-bold: var(--font-inter-semi-bold);
  --font-family-bold: var(--font-inter-bold);

  --headings-color: var(--color-text-dark);
  --headings-font-family-regular: var(--font-inter-regular);
  --headings-font-family-medium: var(--font-inter-medium);
  --headings-font-family-bold: var(--font-inter-bold);

  --headings-margin-bottom: 15px;
  --headings-font-family: var(--headings-font-family-bold);
  --headings-font-weight: 500;
  --headings-line-height: var(--base-line-height);

  --form-group-margin-bottom: 15px;
  --form-control-height: 39px;
  --form-control-padding-left: var(--spacing-md);
  --form-control-padding-right: var(--spacing-md);
  --form-control-padding-top: 10px;
  --form-control-padding-bottom: 10px;
  --form-control-addon-background-color: white;
  --form-control-addon-padding-top: 10px;
  --form-control-addon-padding-bottom: 10px;
  --form-control-addon-padding-left: 10px;
  --form-control-addon-padding-right: 10px;
  --form-control-error-background: var(--color-danger-extra-light);
  --form-control-border: var(--general-border-width) solid var(--color-secondary-dark);
  --form-control-disabled-border: var(--general-border-width) solid var(--color-secondary-base-dark);
  --form-control-placeholder-color: var(--color-text-light);
  --form-control-disabled-background-color: var(--color-background);
  --form-control-disabled-color:var(--color-text-light);
  --form-control-border-focus: var(--general-border-width) solid var(--color-secondary-extra-dark1);
  --form-control-text-focus: var(--color-text-dark);
  --form-control-placeholder-font-family: var(--font-family-regular);
  --form-control-error-colour: var(--color-danger-dark);
  --form-control-border-radius: 8px;
  --form-default-color: var(--color-secondary-dark);
  --form-primary-color: var(--color-primary-base);
  --form-success-color: var(--color-success-base);

  --error-border: var(--general-border-width) solid var(--color-danger-dark);
  --error-border-left: var(--general-border-width) solid var(--color-danger-dark);
  --help-block-color: var(--text-color);
  --help-block-font-style: normal;
  --help-block-padding: 0 0 0 var(--spacing-xs);
  --error-message-padding: 0 0 0 var(--spacing-xs);
  --default-pill-background-color: var(--color-secondary-light);
  --default-pill-color: white;
  --pill-margin: 0 0 10px 0;
  --default-outline-pill-color: var(--text-color);

  --title-medium-font-size: 16px;

  --bottom-buffer-large: var(--spacing-md);
  --bottom-buffer-medium: 10px;
  --bottom-buffer-small: 5px;
  --top-buffer-large: var(--spacing-md);
  --top-buffer-medium: 10px;
  --top-buffer-small: 5px;
  --right-buffer-large: var(--spacing-md);
  --right-buffer-medium: 10px;
  --right-buffer-small: 5px;
  --left-buffer-large: var(--spacing-md);
  --left-buffer-medium: 10px;
  --left-buffer-small: 5px;

  --modal-z-index: 1080;
}
