@import '../../../common/sass/variables';
@import '../../../common/sass/mixins';

.tyk-info-note {
  border-radius: 0;
  position: relative;

  p + p {
    margin-top: 15px;
  }

  &:after {
    content: '';
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent theme-color("info", "base") transparent transparent;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
  }

  .tyk-message {
    border-radius: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
