@use "sass:math";

.editable-list {
  &__header {
    align-items: center;
    display: flex;
    margin-block-end: 10px;

    .tyk-button {
      margin-inline-start: auto;
    }
  }

  &__wrapper.has-error &__list{
    border: $general-border-width solid theme-color('danger', 'base');
  }

  &__list {
    border: $general-border-width solid theme-color('default', 'light');
    border-radius: $general-border-radius;
    display: flex;
    flex-direction: column-reverse;
  }

  &__item {
    border-block-end: 1px solid theme-color('default', 'light');
    display: flex;
    flex-wrap: nowrap;
    inline-size: 100%;

    &:first-child {
      border-block-end: none;
    }

    &-header {
      border-block-end: 1px solid theme-color('default', 'light');
      color: $text-color;
      font-size: text-scale('sm');
      line-height: line-height('sm');
      font-family: $font-family-bold;
      text-transform: uppercase;

      .editable-list__item-cell {
        padding: 10px;
      }
    }

    &-cell {
      border-inline-start: 1px solid theme-color('default', 'light');
      overflow: hidden;
      padding-block: 0;
      padding-inline: 10px;

      .tyk-form-control--readonly {
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
      }

      &:first-child {
        border-inline-start: none;
        padding-inline-start: 15px;
      }

      &:last-child {
        padding-inline-end: 15px;
      }

      .tyk-form-group {
        margin-block: 10px;
        margin-inline: 0;
        inline-size: 100%;
      }
    }

    $start: 1;
    $end: 12;

    @for $i from $start through $end {
      &--size-#{$i} {
        display: flex;
        flex-grow: #{$i + 1};
        inline-size: #{math.div($i, 12) * 100%};
      }
    }

    &--size-fit {
      inline-size: fit-content;
    }

    &-action {
      align-items: flex-start;
      display: flex;
      justify-content: center;
      inline-size: 100px;

      .tyk-button {
        margin-block-start: 20px;
      }

      &--read-only {
        color: theme-color("default", "light");
        align-items: center;

        .tyk-button {
          margin-block-start: 0;
        }
      }

    }
  }
}