@import './variables';

.tyk-navigation {
  background-color: $navigation-background-color;
  padding: $navigation-padding;
  width: 100%;

  .tyk-navigation-item {
    width: 100%;

    a {
      color: $navigation-item-color;
      display: block;
      padding: $navigation-item-padding-y $navigation-item-padding-x;
      text-decoration: none;
      transition: all .2s ease;

      &:hover {
        background-color: $navigation-item-hover-background-color;
        color: $navigation-item-hover-color;
      }

      &.active {
        background-color: $navigation-item-active-background-color;
        color: $navigation-item-active-color;
      }
    }
  }
}
