@import 'variables';
@import 'mixins';

.tyk-form-section__title {
  font-size: text-scale('base');
  margin: 5px 0 15px 0;

  &--light {
    color: theme-color('background', 'dark');
  }
}

.tyk-form-group {
  margin-bottom: $form-group-margin-bottom;

  &.has-error > .tyk-form-control,
  &.has-error .tyk-file-input__wrapper  > .tyk-form-control {
    border: 2px solid theme-color('danger', 'light');
    border-left: 10px solid theme-color('danger', 'dark');
    outline: none;

    &:focus {
      border-left: 10px solid theme-color('danger', 'dark');
      border-color: theme-color('danger', 'dark');
      outline: none;
    }
  }

  &--inline {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;

    label {
      display: flex;
      white-space: nowrap;
      margin-right: 20px;
    }

    input,
    select {
      display: flex;
    }

    .tyk-form-control__help-block {
      display: flex;
      margin-left: auto;
    }
  }

  &--primary {
    @include form-group-variant(
      theme-color('primary', 'base')
    );
  }

  &--success {
    @include form-group-variant(
      theme-color('success', 'base')
    );
  }

  &--rounded-corners input {
    border-radius: $general-border-radius;
  }
}

.tyk-form-control__error-message {
  color: theme-color('danger', 'dark');
  margin-top: -15px;
  margin-bottom: 20px;
}

.tyk-input-group {
  align-items: center;
  display: flex;

  &__addon {
    background-color: theme-color('background', 'light');
    border: 1px solid theme-color('background', 'dark');
    height: $form-control-height;
    padding: $form-control-padding-top $form-control-padding-right $form-control-padding-bottom $form-control-padding-left;

    &:first-child {
      border-right: 0;
    }

    &:last-child {
      border-left: 0;
    }
  }
}

.tyk-form-control {
  border: 1px solid theme-color('background', 'dark');
  background-color: white;
  color: $text-color;
  display: block;
  font-size: text-scale('base');
  height: $form-control-height;
  padding: $form-control-padding-top $form-control-padding-right $form-control-padding-bottom $form-control-padding-left;
  transition: all .2s linear;
  width: 100%;

  &[disabled] {
    background-color: theme-color('background', 'light');
    cursor: not-allowed;
  }

  &__help-block {
    color: $text-color;
    font-style: italic;
    font-size: text-scale('sm');
    margin: 5px 0 0 0;
  }
}

select {
  border-radius: 0;
  -webkit-appearance: none;
}

.inline-form-wrapper {
  align-items: center;
  display: flex;
  width: 100%;

  .inline-form {
    width: 100%;
  }

  > button {
    margin-left: 10px;
  }
}

.tyk-checkbox,
.tyk-radio {
  align-items: center;
  display: flex;
  margin: 10px 0;

  label {
    font-weight: normal;
  }

  input {
    margin: 0 5px 0 0;
  }

  &--inline {
    display: inline-flex;
  }
}

.tyk-inline-form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  .tyk-form-group {
    flex: 1;
    margin-left: 20px;
    min-width: 200px;

    &:first-child {
      margin-left:0
    }
  }

  > .tyk-button {
    margin-left: 20px;
  }
}
