.right-align {
  text-align: right !important;
}

.left-align {
  text-align: left !important;
}

.center-align {
  text-align: center !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.hide {
  display: none !important;
}
