.tykon:before {
  font-family: "tykon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tykon-arrowdown:before {
  content: "\61";
}
.tykon-arrowleft:before {
  content: "\62";
}
.tykon-arrowright:before {
  content: "\63";
}
.tykon-arrowup:before {
  content: "\64";
}
.tykon-doublearrowdown:before {
  content: "\65";
}
.tykon-filter:before {
  content: "\66";
}
.tykon-graph1:before {
  content: "\67";
}
.tykon-graph2:before {
  content: "\68";
}
.tykon-label:before {
  content: "\69";
}
.tykon-reload:before {
  content: "\6a";
}
.tykon-select:before {
  content: "\6b";
}
.tykon-target:before {
  content: "\6c";
}
.tykon-undo:before {
  content: "\6d";
}
.tykon-deployment:before {
  content: "\6e";
}
.tykon-team:before {
  content: "\6f";
}
.tykon-overview:before {
  content: "\70";
}
.tykon-loadout:before {
  content: "\71";
}
.tykon-entitlement:before {
  content: "\72";
}
