h1, h2, h3, h4, h5, h6 {
  margin-block-end: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-color;
}

label {
  display: inline-block;
  max-inline-size: 100%;
  margin-block-end: 5px;
  color: $label-color;
}

h1 {
  font-size: text-scale('xxl');
  line-height: line-height('xxl');
}

h2 {
  font-size: text-scale('xl');
  line-height: line-height('xl');
}

h3 {
  font-size: text-scale('lg');
  line-height: line-height('lg');
}

h4 {
  font-size: text-scale('md');
  line-height: line-height('md');
}

h5 {
  font-size: text-scale('sm');
  line-height: line-height('sm');
}

h6 {
  font-size: text-scale('xs');
  line-height: line-height('xs');
}

p,
label {
  font-size: text-scale('sm');
  line-height: line-height('sm');
  font-family: $font-family-regular;

  a {
    font-size: text-scale('sm');
    text-decoration: underline;
  }
}

strong {
  font-family: $font-family-bold;
}

a:not(.tyk-button) {
  cursor: pointer;
  color: $text-color;
  font-family: $font-family-regular;

  &.link--bold {
    font-family: $font-family-bold;
  }

  + a {
    margin-inline-start: 5px;
  }

  i {
    font-size: 9px
  }
}

.font-family-regular {
  font-family: $font-family-regular;
}

.font-family-medium {
  font-family: $font-family-medium;
}

.font-family-bold {
  font-family: $font-family-bold;
}

.heading-font-family-regular {
  font-family: $headings-font-family-regular;
}

.heading-font-family-medium {
  font-family: $headings-font-family-medium;
}

.heading-font-family-bold {
  font-family: $headings-font-family-bold;
}

.text {
  &--info {
    color: theme-color('info', 'base');
  }

  &--medium {
    font-family: $font-family-medium;
  }

  &--bold {
    font-family: $font-family-bold;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--underline {
    text-decoration: underline;
  }

  &--default-light {
    color: theme-color('default', 'light') !important;
  }

  &--default {
    color: theme-color('default', 'base') !important;
  }

  &--primary {
    color: theme-color('primary', 'base') !important;
  }

  &--danger {
    color: theme-color('danger', 'base') !important;
  }

  &--success {
    color: theme-color('success', 'base') !important;
  }

  &--warning {
    color: theme-color('warning', 'base') !important;
  }
}

td.text-ellipsis {
  max-inline-size: 250px;
}

.section-title {
  font-family: $headings-font-family-bold;
  margin-block-end: 5px;

  .tyk-icon {
    margin-inline-start: 5px;
  }
}

.sub-section-title {
  margin-block-end: 5px;
  font-family: $font-family-medium;
  font-size: text-scale('md');
  line-height: line-height('md');

  .tyk-icon {
    margin-inline-start: 5px;
  }
}

.section-group-title {
  margin-block-end: 5px;
  font-family: $font-family-bold;
  font-size: text-scale('sm');
  line-height: line-height('sm');
  text-transform: uppercase;

  .tyk-icon {
    margin-inline-start: 5px;
  }
}
