@use 'sass:map';

$color-background: #FCFCFC;
$general-border-radius: 18px !default;
$general-border-width: 1px !default;

$theme-colors: (
  'primary': (
    'extra-light': #F6EFFF,
    'light': #EBDFFE,
    'base': #8438FA,
    'dark': #6B2ECE,
    'extra-dark': #5525AA
  ),
  'secondary': (
    'extra-light': #F8F8F9,
    'light': #F0F0F3,
    'base': #EDEDF0,
    'base-dark': #E6E6EA,
    'dark': #D8D8DF,
    'extra-dark': #9D9DAF,
    'extra-dark1': #181834
  ),
  'success': (
    'extra-light': #EEF8F1,
    'light': #DDF1E2,
    'base': #2BA84A,
    'dark': #238741
  ),
  'danger': (
    'extra-light': #FCEFEC,
    'light': #F9DDD8,
    'base': #D82C0D,
    'dark': #AE2410,
    'extra-dark': #8B1D12
  ),
  'info': (
    'extra-light': #EBF8FE,
    'light': #D6F1FC,
    'base': #00A6ED,
    'dark': #0186C4
  ),
  'warning': (
    'extra-light': #FFFBF2,
    'light': #FFF5E3,
    'base': #FFC453,
    'dark': #CC9D43
  )
) !default;

$text-color: #414160 !default;
$text-light: #818198 !default;
$label-color: #03031C !default;

$xs-line-height: 16px;
$sm-line-height: 20px;
$md-line-height: 22px;
$lg-line-height: 23px;
$xl-line-height: 24px;
$xxl-line-height: 30px;

$xs-font-size: 13px;
$sm-font-size: 14px;
$md-font-size: 16px;
$lg-font-size: 18px;
$xl-font-size: 20px;
$xxl-font-size: 32px;

$base-font-size: $sm-font-size !default;
$base-line-height: $sm-line-height !default;

$text-settings: (
  'xs': (
    font-size: $xs-font-size,
    line-height: $xs-line-height
  ),
  'sm': (
    font-size: $sm-font-size,
    line-height: $sm-line-height
  ),
  'base': (
    font-size: $md-font-size,
    line-height: $md-line-height
  ),
  'md': (
    font-size: $md-font-size,
    line-height: $md-line-height
  ),
  'lg': (
    font-size: $lg-font-size,
    line-height: $lg-line-height
  ),
  'xl': (
    font-size: $xl-font-size,
    line-height: $xl-line-height
  ),
  'xxl': (
    font-size: $xxl-font-size,
    line-height: $xxl-line-height
  )
) !default;

$spacing: (
  'xs': 5px,
  'sm': 10px,
  'base': 15px,
  'md': 20px,
  'lg': 24px,
  'xl': 30px,
  'xxl': 36px
) !default;

$grid-gutter: map.get($spacing, 'md') !default;
$grid-max-width: 1200px + ($grid-gutter * 2) !default;
$grid-columns: 12 !default;

$font-family-regular: 'Inter-Regular' !default;
$font-family-medium: 'Inter-Medium' !default;
$font-family-semi-bold: 'Inter-SemiBold' !default;
$font-family-bold: 'Inter-Bold' !default;

$headings-color: #03031C !default;
$headings-font-family-regular: 'Inter-Regular' !default;
$headings-font-family-medium: 'Inter-Medium' !default;
$headings-font-family-semi-bold: 'Inter-SemiBold' !default;
$headings-font-family-bold: 'Inter-Bold' !default;

$headings-margin-bottom: 15px !default;
$headings-font-family: $headings-font-family-bold !default;
$headings-font-weight: 500 !default;
$headings-line-height: $base-line-height !default;

$form-group-margin-bottom: 15px !default;
$form-control-height: 39px !default;
$form-control-padding-left: map.get($spacing, 'md') !default;
$form-control-padding-right: map.get($spacing, 'md') !default;
$form-control-padding-top: 10px !default;
$form-control-padding-bottom: 10px !default;
$form-control-addon-background-color: white !default;
$form-control-addon-padding-top: 10px !default;
$form-control-addon-padding-bottom: 10px !default;
$form-control-addon-padding-left: 10px !default;
$form-control-addon-padding-right: 10px !default;
$form-control-border: $general-border-width solid theme-color('secondary', 'dark') !default;
$form-control-disabled-border: $general-border-width solid theme-color('secondary', 'base-dark') !default;
$form-control-placeholder-color: var(--color-secondary--dark) !default;
$form-control-disabled-background-color: $color-background !default;
$form-control-disabled-color: $text-color !default;
$form-control-border-focus: var(--general-border-width) solid var(--form-control-border-focus) !default;
$form-control-placeholder-font-family: $font-family-medium !default;
$form-control-error-colour: theme-color('danger', 'dark') !default;
$form-default-color: theme-color('secondary', 'dark') !default;
$form-primary-color: theme-color('primary', 'base') !default;
$form-success-color: theme-color('success', 'base') !default;

$error-border: $general-border-width solid theme-color('danger', 'dark') !default;
$error-border-left: var(--general-border-width) solid theme-color('danger', 'dark') !default;
$help-block-color: $text-color !default;
$help-block-font-style: normal !default;
$help-block-padding: 0 0 0 $form-control-padding-left !default;
$error-message-padding: 0 0 0 $form-control-padding-left !default;
$default-pill-background-color: theme-color('secondary', 'light') !default;
$default-pill-color: white !default;
$pill-margin: 0 0 10px 0 !default;
$default-outline-pill-box-shadow: inset 0 0 0 2px theme-color('secondary', 'dark');
$default-outline-pill-color: $text-color;

$title-medium-font-size: 16px;

// Buffers
$bottom-buffer-large: map.get($spacing, 'md');
$bottom-buffer-medium: 10px;
$bottom-buffer-small: 5px;
$top-buffer-large: map.get($spacing, 'md');
$top-buffer-medium: 10px;
$top-buffer-small: 5px;
$right-buffer-large: map.get($spacing, 'md');
$right-buffer-medium: 10px;
$right-buffer-small: 5px;
$left-buffer-large: map.get($spacing, 'md');
$left-buffer-medium: 10px;
$left-buffer-small: 5px;

$modal-z-index: 1080;

// FixedWrapper variables
$fixed-wrapper-top: 0 !default;
$fixed-wrapper-left: 0 !default;

// Message variables
$tyk-message-padding-top: map.get($spacing, 'md') !default;
$tyk-message-padding-right: map.get($spacing, 'md') !default;
$tyk-message-padding-bottom: map.get($spacing, 'md') !default;
$tyk-message-padding-left: map.get($spacing, 'md') !default;
$tyk-message-success-background: theme-color('success', 'light') !default;
$tyk-message-success-border: theme-color('success', 'dark') !default;

// NavBar variables
$nav-bar-header-font-size: text-scale('xxl') !default;
$nav-bar-background-color: white !default;
$nav-bar-text-color: $text-color !default;
$nav-bar-height: 92px !default;
$nav-bar-top-padding: map.get($spacing, 'sm') !default;
$nav-bar-bottom-padding: 0 !default;
$nav-bar-left-padding: map.get($spacing, 'md') !default;
$nav-bar-right-padding: map.get($spacing, 'md') !default;
$nav-bar-padding: 0 $nav-bar-right-padding 0 $nav-bar-left-padding !default;

// Navigation variables
$navigation-background-color: white !default;
$navigation-item-padding-y: map.get($spacing, 'sm') !default;
$navigation-item-padding-x: map.get($spacing, 'md') !default;
$navigation-item-color: $text-color !default;
$navigation-item-hover-background-color: theme-color('primary', 'base') !default;
$navigation-item-hover-color: white !default;
$navigation-item-active-background-color: theme-color('primary', 'dark') !default;
$navigation-item-active-color: white !default;

// Panel variables
$padding-y-panel-header: map.get($spacing, 'sm') !default;
$padding-x-panel-header: 25px !default;
$padding-panel-body: 25px !default;
$panel-border-radius: 0 !default;
$panel-default-border-bottom-color: theme-color('secondary', 'dark') !default;
$panel-header-font-size: text-scale('base') !default;
$panel-primary-header-color: theme-color('primary', 'base') !default;
$panel-primary-body-color: white !default;
$panel-primary-label-color: $text-color !default;
$panel-primary-border-color: none !default;

// Sidebar variables
$sidebar-top: 58px !default;
$sidebar-height: calc(100vh - 58px) !default;
$sidebar-width: 280px !default;

// Table variables
$table-th-padding: map.get($spacing, 'base') map.get($spacing, 'sm') !default;
$table-td-padding-y: map.get($spacing, 'xs') !default;
$table-td-padding-x: map.get($spacing, 'sm') !default;
$table-first-last-padding: 20px !default;
$table-pagination-padding: map.get($spacing, 'md') 25px !default;

// Checkbox variables
$tyk-checkbox-theme-light-label-color: white !default;
$tyk-checkbox-theme-light-label-disabled-color: white !default;
$tyk-checkbox-theme-dark-label-color: $text-color !default;
$tyk-checkbox-theme-dark-label-disabled-color: $text-color !default;

// Combobox variables
$combobox-disabled-border: $general-border-width solid theme-color('secondary', 'dark') !default;

// Combobox2 variables
$tyk-combobox-list-item-disabled-color: $form-default-color !default;

// Dropdown variables
$tyk-dropdown-item-background: white !default;
$tyk-dropdown-item-background-hover: theme-color('secondary', 'extra-light') !default;
$tyk-dropdown-item-border-color: white !default;
$tyk-dropdown-item-text-color: $text-color !default;
$tyk-dropdown-item-hover-text-color: $text-color !default;

// Radio variables
$tyk-radio-theme-light-label-color: white !default;
$tyk-radio-theme-light-label-disabled-color: white !default;
$tyk-radio-theme-dark-label-color: $text-color !default;
$tyk-radio-theme-dark-label-disabled-color: $text-color !default;

// Toggle variables
$toggle-list-background-color: $text-light !default;
$toggle-list-background-color-on-dark: white !default;
$toggle-label-font-size: text-scale('sm') !default;
$toggle-padding: 0 !default;