$font-path: '../fonts/' !default;
$theme-colors: (
  'primary': (
    'base': #368493,
    'light': #109EAE,
    'dark': #1B3E4F
  ),
  'success': (
    'base': #00D9BA,
    'light': #bdded3,
    'dark': #05C7B6
  ),
  'info': (
    'base': #82BBC6,
    'light': #D3EBEF
  ),
  'danger': (
    'base': #E8244F,
    'extra-light': #F5CCD1,
    'light': #FF6C7E,
    'dark': #C9234D
  ),
  'warning': (
    'base': #FEC789,
    'light': #F3EFC2
  ),
  'foreground': (
    'base': #393939,
    'base-dark': #22272B,
    'light': #5a5a68,
    'dark': #161B20,
    'extra-dark': #0A0D10
  ),
  'background': (
    'base': #E1E1E1,
    'light': #F0F0F0,
    'dark': #D2D2D2
  )
);

$text-color: #000018;

$contrast-colors: (
  'dark': (
    'primary': rgb(255, 255, 255),
    'secondary': rgba(255, 255, 255, .70),
    'disabled': rgba(255, 255, 255, .5),
    'hint': rgba(255, 255, 255, .12)
  ),
  'light': (
    'primary': rgba(0, 0, 0, .87),
    'secondary': rgba(0, 0, 0, .54),
    'disabled': rgba(0, 0, 0, .38),
    'hint': rgba(0, 0, 0, .12)
  ),
);

$base-font-size: 16px;
$base-line-height: 1.2;

$text-settings: (
  'xs': (
    font-size: 10px,
    line-height: $base-line-height
  ),
  'sm': (
    font-size: 12px,
    line-height: $base-line-height
  ),
  'base': (
    font-size: 14px,
    line-height: $base-line-height
  ),
  'md': (
    font-size: 16px,
    line-height: $base-line-height
  ),
  'lg': (
    font-size: 20px,
    line-height: $base-line-height
  ),
  'xl': (
    font-size: 24px,
    line-height: $base-line-height
  ),
  'xxl': (
    font-size: 32px,
    line-height: $base-line-height
  )
);

$spacing: (
  'xs': 6px,
  'sm': 8px,
  'base': 12px,
  'md': 14px,
  'lg': 18px,
  'xl': 22px,
  'xxl': 32px
);

$grid-gutter: 20px !default;
$grid-max-width: 1200px + ($grid-gutter * 2) !default;
$grid-columns: 12 !default;

$breakpoint-xs: 420px !default;
$breakpoint-sm: 768px !default;
$breakpoint-md: 1024px !default;
$breakpoint-lg: 1248px !default;

$breakpoints: (
  "xs": $breakpoint-xs,
  "sm": $breakpoint-sm,
  "md": $breakpoint-md,
  "lg": $breakpoint-lg
);

$grid-breakpoints: (
  'lg' '(min-width: ' + $breakpoint-lg + ')',
  'md' '(min-width: ' + $breakpoint-md + ') and (max-width: ' + ($breakpoint-lg - 1) + ')',
  'sm' '(min-width: ' + ($breakpoint-sm + 1) + ') and (max-width:' + ($breakpoint-md - 1) + ')',
  'xs' '(max-width: ' + $breakpoint-sm + ')'
) !default;


$headings-margin-bottom: 15px;
$headings-font-family: 'robotomedium';
$headings-font-weight: 500 !default;
$headings-line-height: $base-line-height !default;
