@use 'sass:map';

.tyk-selectable-list {
  margin-block-end: map.get($spacing, 'md');
  inline-size: 100%;

  li:not(.tyk-selectable-list__no-items-message) {
    font-family: $font-family-medium;
    padding: 0;

    .tyk-message {
      margin-block-end: 0;
    }

    label {
      font-family: $font-family-medium;
      margin: 0;
    }

    > label {
      align-items: center;
      cursor: pointer;
      display: flex;
      padding-block: map.get($spacing, 'sm');
      padding-inline: map.get($spacing, 'md');

      input[type="checkbox"] {
        margin-inline-start: auto;
      }
    }
  }

  &__item--with-icon {
    input[type="checkbox"] {
      visibility: hidden;
    }
  }
}
