@import '../../../common/sass/variables';
@import '../../../common/sass/mixins';
@import './variables';

.tyk-combobox {
  &.disabled {
    .tyk-form-control {
      background-color: $form-control-disabled-background-color;
      border: $combobox-disabled-border;
      color: $form-control-disabled-color;
      cursor: not-allowed;
    }
  }

  ul {
    list-style-type: none;
    margin-top: 0;
    height: auto;
  }

  > .tyk-form-control__wrapper {
    > .tyk-form-control {
      margin: 0;
      padding: 0;
    }
    > .tyk-form-control--with-tags {
      cursor: auto;
      overflow: hidden;
      padding-right: 45px;
      position: relative;
    }
  }

  > .tyk-form-control {
    cursor: pointer;
  }

  .tyk-combobox--with-tags__button-down {
    bottom: 0;
    border-radius: 0;
    color: $text-color;
    font-size: text-scale('base');
    padding: 0 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;

    .tyk-form-group--rounded-corners & {
      border-radius: $general-border-radius;
    }
  }

  .pill {
    background-color: $tyk-combobox-pill-background;
    border-radius: 10px;
    color: $tyk-combobox-pill-color;
    float: left;
    margin-left: 10px;
    margin-top: 6px;
    padding: 5px 10px;

    button {
      background: none;
      border: none;
      cursor: pointer;
      width: 23px;
    }

    i {
      margin-right: 5px;
    }
  }

  &__search-box {
    float: left;
    padding-right: 45px;

    input {
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  & &__placeholder {
    color: $tyk-form-control-placeholder-color;
    align-items: center;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding: 12px $form-control-padding-right 12px $form-control-padding-left;
    width: 100%;

    > i {
      margin-left: auto;
    }
  }
}

.tyk-combobox__list {
  background-color: white;
  border: 1px solid $form-default-color;
  display: none;
  list-style-type: none;
  max-height: 255px;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  z-index: 5;

  &.tyk-form-group--rounded-corners {
    border-radius: $general-border-radius;
  }

  &--has-tags {
    max-height: 195px;
  }

  &--opened {
    display: block;
  }

  li {
    border-top: 1px solid $form-default-color;
    cursor: pointer;
    padding: 10px 15px;
    transition: all .2s;

    &:first-child {
      border-top: none;
    }

    .tyk-form-control {
      border-color: $form-default-color;
    }

    &:hover,
    &.active {
      background-color: $form-default-color;
    }

    &.disabled {
      color: $form-default-color;
      background-color: initial;
    }

    &.combobox-search__container {
      background-color: white;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }

    i {
      margin-right: 5px;
    }
  }
}
