@use 'sass:map';

.tyk-file-input__wrapper {
  position: relative;

  > input {
    padding-block: 6px;
    padding-inline: map.get($spacing, 'md');
  }

  > button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    inset-inline-end: map.get($spacing, 'base');
    inset-block-start: 9px;
  }
}
