.tyk-file-input__wrapper {
  position: relative;

  > input {
    padding: 6px map-get($spacing, 'md');
  }

  > button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: map-get($spacing, 'base');
    top: 9px;
  }
}
