@import './variables';

.tyk-nav-bar {
  border: 0;
  background-color: $nav-bar-background-color;
  color: $nav-bar-text-color;
  font-family: $headings-font-family;
  margin: 0;
  padding: $nav-bar-padding;
  width: 100%;
  z-index: 8;
  transition: all .2s linear;

  @media screen and (max-width: 1024px) {
    padding-left: 20px;

    .menu-opened & {
      transform: translate($nav-bar-animate-left);
    }
  }

  h1 {
    color: $nav-bar-text-color;
  }
}

.tyk-nav-bar .tyk-nav-bar__wrapper {
  padding-bottom: $nav-bar-bottom-padding;
  display: flex;

  @media screen and (max-width: 1024px) {
    padding-left: 0;
  }

  h1 {
    font-size: $nav-bar-header-font-size;
    font-family: $headings-font-family;
    margin: 0;
    padding-right: 10px;
  }

  .tyk-nav-bar__container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  .tyk-nav-bar__left {
    flex-grow: 1;
  }

  .tyk-nav-bar__right {
    margin-left: auto;
  }
}
