$nav-bar-background-color: white !default;
$nav-bar-text-color: $text-color !default;
$nav-bar-padding-left: 265px !default;
$nav-bar-animate-left: 245px !default;
$nav-bar-top-padding: 10px !default;
$nav-bar-bottom-padding: 0 !default;
$nav-bar-left-padding: 20px !default;
$nav-bar-right-padding: 20px !default;
$nav-bar-padding: 0 $nav-bar-right-padding 0 $nav-bar-left-padding !default;
$nav-bar-top: 51px !default;
$nav-bar-header-font-size: text-scale('xxl') !default;
$nav-bar-header-font-family: $headings-font-family-bold !default;
$nav-bar-header-line-height: line-height('xxl') !default;
$nav-bar-height: 92px !default;
$nav-bar-font-family: $font-family-regular !default;
