@import '../../../common/sass/variables';
@import '../../../common/sass/mixins';
@import './variables';

.tyk-checkbox {
  label {
    align-items: center;
    display: flex;
  }
  &--theme-light {
    label {
      color: $tyk-checkbox-theme-light-label-color;
    }

    &.tyk-checkbox--is-disabled {
      label {
        color: $tyk-checkbox-theme-light-label-disabled-color;
      }
    }
  }

  &--theme-dark {
    label {
      color: $tyk-checkbox-theme-dark-label-color;
    }

    &.tyk-checkbox--is-disabled {
      label {
        color: $tyk-checkbox-theme-dark-label-disabled-color;
      }
    }
  }
}