.tyk-infinite-scroller {
  block-size: 100%;
  overflow: hidden;
  position: relative;

  .loading.absolute {
    inset-block-end: 5px;
    inset-block-start: auto;
  }
}

.tyk-infinite-scroller__wrapper {
  block-size: 100%;
  overflow-y: auto;
}
