@import './variables';

.tyk-sidebar {
  background-color: $sidebar-background-color;
  height: $sidebar-height;
  flex: 0 0 $sidebar-width;
  padding: $sidebar-padding;
  position: sticky;
  overflow: scroll;
  top: $sidebar-top;
}
