$tyk-radio-theme-light-label-color: white !default;
$tyk-radio-theme-light-label-disabled-color: white !default;
$tyk-radio-theme-dark-label-color: $text-color !default;
$tyk-radio-theme-dark-label-disabled-color: $text-color !default;
$radio-description-text-padding : 0 0 0 20px !default;