@import '../../../common/sass/variables';
@import '../../../common/sass/mixins';
@import './variables';

.tyk-pagination {
  display: flex;
  list-style-type: none;
  margin: map-get($spacing, 'xl') 0;
  padding: 0;

  li {
    align-items: center;
    display: flex;
  }

  li:first-child button {
    border-top-left-radius: $pagination-border-radius;
    border-bottom-left-radius: $pagination-border-radius;
  }

  li:last-child button {
    border-top-right-radius: $pagination-border-radius;
    border-bottom-right-radius: $pagination-border-radius;
  }

  span {
    margin: 0 10px;
  }

  button {
    background: white;
    border: none;
    font-size: text-scale('sm');
    cursor: pointer;
    margin-left: -1px;
    padding: $pagination-button-padding;

    &:hover {
      background-color: theme-color('success', 'light');
    }
  }

  .active button {
    background-color: theme-color('success', 'base');
    color: white;
  }
}
