.tyk-list {
  border: $general-border-width solid theme-color('default', 'light');
  border-radius: $general-border-radius;
  font-size: text-scale('sm');
  list-style-type: none;
  margin: 0;
  max-height: 191px;
  padding: 0;
  overflow: auto;

  &--with-inline-label {
    display: flex;

    > label {
      margin-right: map-get($spacing, 'md');
    }
  }

  li {
    border-bottom: 1px solid theme-color('default', 'light');
    padding: map-get($spacing, 'sm') map-get($spacing, 'md');
    font-family: $font-family-medium;

    &:last-child {
      border: none;
    }
  }

  &--default {
    border-color: theme-color('default', 'light');
  }

  &--primary {
    border-color: theme-color('primary', 'base');

    li {
      border-color: theme-color('primary', 'light');
      color: $text-color;
    }
  }

  &--primary-light {
    border-color: theme-color('primary', 'light');

    li {
      border-color: theme-color('primary', 'light');
      color: $text-color;
    }
  }

  &--success {
    border-color: theme-color('success', 'base');
    color: theme-color('success', 'base');

    li {
      border-color: theme-color('success', 'base');
    }
  }

  &--danger {
    border-color: theme-color('danger', 'base');
    color: $text-color;

    li {
      border-color: theme-color('danger', 'light');
    }
  }
}

ul.tyk-list--inline {
  align-items: center;
  display: flex;

  li {
    padding: 0 map-get($spacing, 'sm');
  }

  &.tyk-list--with-separator {

    li:not(:first-child) {
      border-left: 1px solid theme-color('default', 'base');
    }
  }
}
