.tyk-list {
  border: 2px solid theme-color('default', 'light');
  border-radius: $general-border-radius;
  font-size: text-scale('sm');
  list-style-type: none;
  margin: 0;
  max-height: 191px;
  padding: 0;
  overflow: auto;

  &--with-inline-label {
    display: flex;

    > label {
      margin-right: 20px;
    }
  }

  li {
    border-bottom: 1px solid theme-color('default', 'light');
    padding: 10px 20px;
    font-family: $font-family-medium;

    &:last-child {
      border: none;
    }
  }

  &--default {
    border-color: theme-color('default', 'light');
  }

  &--primary {
    border-color: theme-color('primary', 'base');

    li {
      border-color: theme-color('primary', 'light');
      color: $text-color;
    }
  }

  &--primary-light {
    border-color: theme-color('primary', 'light');

    li {
      border-color: theme-color('primary', 'light');
      color: $text-color;
    }
  }

  &--success {
    border-color: theme-color('success', 'base');
    color: theme-color('success', 'base');

    li {
      border-color: theme-color('success', 'base');
    }
  }

  &--danger {
    border-color: theme-color('danger', 'base');
    color: $text-color;

    li {
      border-color: theme-color('danger', 'light');
    }
  }
}
