@use 'sass:map';

.tyk-list {
  border: $general-border-width solid theme-color('default', 'light');
  border-radius: $general-border-radius;
  font-size: text-scale('sm');
  list-style-type: none;
  margin: 0;
  max-block-size: 191px;
  padding: 0;
  overflow: auto;

  &--with-inline-label {
    display: flex;

    > label {
      margin-inline-end: map.get($spacing, 'md');
    }
  }

  li {
    border-block-end: 1px solid theme-color('default', 'light');
    padding-block: map.get($spacing, 'sm');
    padding-inline: map.get($spacing, 'md');
    font-family: $font-family-medium;

    &.tyk-list__item--selected {
      background-color: theme-color('default', 'light');
    }

    &:last-child {
      border: none;
    }
  }

  &--default {
    border-color: theme-color('default', 'light');
  }

  &--primary {
    border-color: theme-color('primary', 'base');

    li {
      border-color: theme-color('primary', 'light');
      color: $text-color;

      &.tyk-list__item--selected {
        background-color: theme-color('primary', 'light');
      }
    }
  }

  &--primary-light {
    border-color: theme-color('primary', 'light');

    li {
      border-color: theme-color('primary', 'light');
      color: $text-color;

      &.tyk-list__item--selected {
        background-color: theme-color('primary', 'light');
      }
    }
  }

  &--success {
    border-color: theme-color('success', 'base');
    color: theme-color('success', 'base');

    li {
      border-color: theme-color('success', 'base');

      &.tyk-list__item--selected {
        background-color: theme-color('success', 'light');
      }
    }
  }

  &--danger {
    border-color: theme-color('danger', 'base');
    color: $text-color;

    li {
      border-color: theme-color('danger', 'light');

      &.tyk-list__item--selected {
        background-color: theme-color('danger', 'light');
      }
    }
  }
}

ul.tyk-list--inline {
  align-items: center;
  display: flex;

  li {
    padding-block: 0;
    padding-inline: map.get($spacing, 'sm');
  }

  &.tyk-list--with-separator {
    li:not(:first-child) {
      border-inline-start: 1px solid theme-color('default', 'base');
    }
  }
}
