@import '../../../common/sass/variables';
@import '../../../common/sass/mixins';
@import './variables';

.tyk-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

    > thead th {
      color: theme-color('foreground', 'light');
      font-size: text-scale('sm');
      text-align: left;
      text-transform: uppercase;

      .tyk-button {
        background: none;
        color: theme-color('foreground', 'light');
        padding: 0;
      }
    }

    > thead th {
      padding: $table-th-padding;
    }

    > tbody td {
      padding: $table-td-padding-y $table-td-padding-x;
      vertical-align: middle;
    }

    > tbody tr:nth-child(2n+1) {
      background-color: theme-color('background', 'light');
    }

    > tbody tr td:first-child,
    > thead tr th:first-child {
      padding-left: $table-first-last-padding;
    }

    > tbody tr td:last-child,
    > thead tr th:last-child {
      padding-right: $table-first-last-padding;
    }

    .tyk-pagination {
      padding: $table-pagination-padding;

      li:first-child {
        margin-left: auto;
      }
    }
}

.tyk-table-search {
  padding: 10px 25px 0 25px;

  label {
    font-size: text-scale('sm');
    text-transform: uppercase;
  }
}
