$table-th-padding: map-get($spacing, 'sm') !default;
$table-td-padding-y: map-get($spacing, 'sm') !default;
$table-td-padding-x: map-get($spacing, 'xs') !default;
$table-first-last-padding: 25px !default;
$table-pagination-padding: map-get($spacing, 'md') 25px !default;
